<div class="limiter">
    <div class="container-main-content">
        <div class="wrap-main-content wrap-item-view">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{picture}}" class="img-fluid" alt="First slide" />
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{picture}}" class="img-fluid" alt="Second slide" />
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{picture}}" class="img-fluid" alt="Third slide" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

                <div class="container pt-4 pb-5">
                    <div class="row carousel-indicators">
                        <div class="col-md-4 item">
                            <img src="{{picture}}" class="img-fluid" class="img-fluid"
                                data-target="#carouselExampleIndicators" data-slide-to="0" />
                        </div>
                        <div class="col-md-4 item">
                            <img src="{{picture}}" class="img-fluid" class="img-fluid"
                                data-target="#carouselExampleIndicators" data-slide-to="1" />
                        </div>
                        <div class="col-md-4 item">
                            <img src="{{picture}}" class="img-fluid" class="img-fluid"
                                data-target="#carouselExampleIndicators" data-slide-to="2" />
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h2>
                    <font color='red' style="clear:both;">
                        <center>{{name}}</center>
                    </font>
                </h2>
                <p>
                    <font color='red' size='-1px'>
                        <center>🔥 1100 people viewed this items</center>
                    </font>
                    <br>
                </p>
                <center>
                    <div>
                        <span>Rating: </span>
                        <span class="fa fa-star ratechecked "></span>
                        <span class="fa fa-star ratechecked "></span>
                        <span class="fa fa-star ratechecked"></span>
                        <span class="fa fa-star ratechecked"></span>
                        <span class="fa fa-star-o "></span>
                    </div>
                </center>
                <hr>
                <div class="card mx-auto bg-light" style="width: 30rem">
                    <div class='moveright'>
                        <span>Current Price: <b>{{price}}$</b></span>
                        
                        <hr>
                        <center><font color='red'><h3>List of bidder</h3></font></center>
                        <p><br></p>
                        <table>
                            <tr>
                                <td scope="row">
                                    @tranthuanthanh:
                                </td>
                                <td>15$</td>

                                <td>
                                    <a class="btn btn-sm btn-danger m-l-10" role="button" alt="denybid"
                                        onclick="deleteRow(this)">
                                        <i class="fa fa-close " style="color:white"></i>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td scope="row">
                                    @dangductrung:
                                </td>
                                <td>11$</td>

                                <td>
                                    <a class="btn btn-sm btn-danger m-l-10" role="button" alt="denybid"
                                        onclick="deleteRow(this)">
                                        <i class="fa fa-close " style="color:white"></i>
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td scope="row">
                                    @testterkun:
                                </td>
                                <td>8$</td>

                                <td>
                                    <a class="btn btn-sm btn-danger m-l-10" role="button" alt="denybid"
                                        onclick="deleteRow(this)">
                                        <i class="fa fa-close " style="color:white"></i>
                                    </a>
                                </td>
                            </tr>

                        </table>

                        <hr>
                        <p>Create at: <span id="create_at"> 5:01 AM 23/11/2019</span></p>
                        <p>Close in: <span id="end_at"> after 10 hours</span></p>
                        <p><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/js/itemmerchant.js"></script>